{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <a href="{{ path('admin.index')}}">Администрирование</a>
    
    {{ form_start(form, {attr: {"class": "d-inline"}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Найти</button>
    {{ form_end(form) }}

    {% for article in articles %}
        <article>
            <h2><a href="{{ path('article.show', {'article': article.id}) }}">{{ article.title }}</a></h2>
            <a href="{{ path('app_article_edit', {'id': article.id}) }}">Редактировать</a>
            <div>
                Дата создания: {{ article.createdAt|date('d.m.Y H:i:s') }}, Автор: {{ article.author}}
            </div>
        </article>
    {% else %}
        <div><br>По вашему запросу ничего не нашлось!🙁</div>
    {% endfor %}

    {{ pagerfanta(articles) }}

</div>
{% endblock %}
