{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <h6><U>Дата создания: {{ article.createdAt|date('d.m.Y H:i:s') }}, Автор: {{ article.author}}</U></h6>
    <div class="article-content">
        {{ article.body|raw|nl2br }}
    </div>

    <div>
        <h4>Комментарии</h4>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}            
        {# Форма комментария #}
        {{ form_start(form, {attr: {"class": "d-inline"}}) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Save'| trans) }}</button>
        {{ form_end(form) }}

        {# Список комментариев, отсортированный по дате создания desc #}
        {% for article in article.comments|filter(v => v.isViewableByUsers) %}
            <div class="comment">
                {{ article.comment }}, <br><strong> Автор:</strong> {{ article.displayAuthor }}, <br><strong>Дата публикации:</strong> {{ article.createdAt|date('d.m.Y H:i:s') }}
            </div>
        {% else %}
            <div><br>Комментариев пока нет</div>
        {% endfor %}
    </div>
{% endblock %}
